@charset "utf-8";
/************************************************************************
 * 파일명 : font.css
 * 설명 :레이아웃_공통
 * 작성자 : plus-X JMR
 * 작성일 : 2019.02.11
 * 최종수정일 : 2019.02.11
************************************************************************/

/* NotoSans */
@font-face {
font-family: 'NotoSans';
font-style: normal;
font-weight: 300;
src: url(NotoSansKR-Light.eot);
src: local('NotoSansKR-Light'),
     url(NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
     url(NotoSansKR-Light.woff2) format('woff2'),
     url(NotoSansKR-Light.woff) format('woff'),
     url(NotoSansKR-Light.otf) format('opentype');
}
@font-face {
font-family: 'NotoSans';
font-style: normal;
font-weight: 400;
src: url(NotoSansKR-Regular.eot);
src: local('NotoSansKR-Regular'),
     url(NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
     url(NotoSansKR-Regular.woff2) format('woff2'),
     url(NotoSansKR-Regular.woff) format('woff'),
     url(NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
font-family: 'NotoSans';
font-style: normal;
font-weight: 500;
src: url(NotoSansKR-Medium.eot);
src: local('NotoSansKR-Medium'),
     url(NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
     url(NotoSansKR-Medium.woff2) format('woff2'),
     url(NotoSansKR-Medium.woff) format('woff'),
     url(NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
font-family: 'NotoSans';
font-style: normal;
font-weight: 700;
src: url(NotoSansKR-Bold.eot);
src: local('NotoSansKR-Bold'),
     url(NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
     url(NotoSansKR-Bold.woff2) format('woff2'),
     url(NotoSansKR-Bold.woff) format('woff'),
     url(NotoSansKR-Bold.otf) format('opentype');
}

/* Camber */
@font-face {
font-family: 'Camber';
font-style: normal;
font-weight: 500;
src: url(Camber.eot);
src: local('Camber'),
     url(Camber.eot?#iefix) format('embedded-opentype'),
     url(Camber.woff2) format('woff2'),
     url(Camber.woff) format('woff'),
     url(Camber.ttf) format('truetype');
}
